ul.product-pagination {
	/*display: inline-block;*/
}

ul.product-pagination li {
	display: inline-block;
	border: solid 1px #eee;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 3px;
}

ul.product-pagination li.selected {
	background-color: #eee;
}